.lateral-menu-container {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
  align-items: center;
  position: fixed;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
}

.lateral-menu-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;
  align-items: center;
}

.lateral-menu-content h2 {
  align-self: flex-start;
  font-size: 22px;
  font-weight: 300;
  opacity: 0.5;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.lateral-menu-content p {
  margin: 1rem;
  display: flex;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 18px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.lateral-menu-content .icon {
  margin: 1rem;
}

.lateral-menu-content p:hover {
  background: black;
  color: white;
}
